body{
    font-family: "plus Jakarta Sans",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}


/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-bandcamp{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}
.f-info-links {
    width: 100%;
}
.f-info-socials,.f-info-brand{
    width:100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
  margin-right: 1rem;
}

 .f-info{
    font-size: 1.2rem;
    display: flex;
    align-content: space-evenly;
    justify-content: center;
    height: 8rem;
    flex-wrap: wrap;
    text-align: center;
 }

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    /* color: #222222; */
}




.listing-card{
    border: none !important;
    margin-bottom: 3rem;
}

.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover !important;
}

.card-img-body{
    padding: 0;
}
.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: azure;
}

.add-btn{
    background-color: #fe424d;
    border: none !important;
}
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}